<h1>All the World's Articles</h1>

<%= link_to 'New Article', new_article_path %>

<div id="article_table_header">
    <p class="title header">Title</p>
    <p class="author header">Author</p>
    <p class="body header">Body</p>
</div>
<div class="buttons">&nbsp;</div>

<div id="article_table_container">
  <div id="article_table_content">
  <% @articles.each do |article| %>
    <span class="<%= cycle('article_line_odd', 'article_line_even') %>">
      <p class="title"><%= article.title %></p>
      <p class="author"><%= article.author.name %></p>
      <p class="body"><%= truncate(article.body, :length => 20) %></p>
    </span>
    <div class="buttons">
      <%= link_to 'Show', article %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %>
    </div>
  <% end %>
  </table>
</div>

<br />
