<p id="notice"><%= notice %></p>

<nav id="article_nav">
  <ul>
    <li><%= link_to image_tag('arrow_left.png') + 'list all articles', articles_path, 
            :title => 'Return to all articles list' %></li>
    <li><%= link_to image_tag('page_edit.png') + 'edit', edit_article_path(@article),
            :title => 'Edit this article' %></li>
    <li><%= link_to image_tag('bin.png') + 'delete', @article,
            :title => 'Delete this article', :method => :delete, :confirm => 'Are you sure?' %></li>
    <li><%= mail_to nil, image_tag('email.png') + 'email', :title => 'Email this article to a friend', :subject => @article.title, :body => article_url(@article) %></li>
  </ul>
</nav>

<h1 id="atricle_title"><%= @article.title %></h1>
<p id="article_byline">
  <%= "by #{@article.author.name}. #{pluralize(@article.edits, 'edit')} since #{@article.created_at.to_date}." %>
</p>

<p>
  <%= @article.body %>
</p>
