<p id="notice"><%= notice %></p>

<nav id="article_nav">
  <ul>
    <li class="first"><%= link_to image_tag('arrow_left.png', :id => 'back') + 'list all articles', articles_path, 
            :title => 'Return to all articles list' %></li>
    <li><%= link_to image_tag('page_edit.png', :id => 'edit') + 'edit', edit_article_path(@article),
            :title => 'Edit this article' %></li>
    <li><%= link_to image_tag('bin.png', :id => 'delete') + 'delete', @article,
            :title => 'Delete this article', :method => :delete, :confirm => 'Are you sure?' %></li>
    <li><%= mail_to nil, image_tag('email.png', :id => 'email') + 'email', :title => 'Email this article to a friend', :subject => @article.title, :body => article_url(@article) %></li>
  </ul>
</nav>

<div class="clear"></div>

<h2 id="article_title"><%= @article.title %></h2>
<p id="article_byline">
  <%= "by #{@article.author.name}. #{pluralize(@article.edits, 'edit')} since #{I18n.l @article.created_at.to_date}." %>
</p>

<div id="article_body">
  <%= raw RedCloth.new(@article.body).to_html %>
</div>
