- content_for :subtitle do
  \... all your "Articl" are belong to us
%nav#author_nav
  %ul
    %li.first= back_to_articles_link
    %li= new_author_link
#author_list_header
  %h1 Listing authors
.clear
%ul#author_list
  - @authors.each_with_index do |author, index|
    %li{:class => "#{author_class(index)}"}  
      .author_image= link_to image_tag(author.photo.url(:small)), author, title: 'View author'
      %span.author_name= link_to author.name, author, title: 'View author'
      .author_actions= author_actions(author).html_safe