- @game.errors.each do |attribute, error|
  %p.error= "#{attribute} #{error}"

%ol.games_form
  = form_for @game, :url => @form_url do |f|
    %li
      = f.label :title
      = f.text_field :title
    %li= f.label "This game was:"
    %li 
      %ol.ratings
        - Rating.all.each do |rating|
          %li
            = f.radio_button :rating_id, rating.id
            = f.label :rating_id, rating.title 
    %li= creator(f) unless current_user.nil?
    %li= f.submit "Save"