.gamez_header
  = gamez_header
= will_paginate @games, :class => "games_pagination"
%table.games_table
  %thead
    %tr
      %th Title
      %th Rating
      %th Date Added
  %tbody
    - @games.each do |game|
      %tr
        %td= game_title(game)
        %td= game_rating(game)
        %td= created_at_and_by(game)
.gamez_stats= stats