%ul.user_actions
  - if current_user
    %li.current_user= raw "Logged in as #{currently_logged_in_user}"
    %li= current_role_link
    %li= logout_link
  - else
    %li= register_link
    %li= login_link