.users_header
  %h2 Users
  = add_user_link unless current_user.nil?
= will_paginate @users, :class => "games_pagination"
%table.users_table{ :cellspacing => "0" }
  %thead
    %tr.users_table_header
      %th Name
      %th Username
      %th Last Login
      %th Games
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.full_name, admin_user_path(user)
        %td= user.username
        %td= user.last_login(Time.now)
        %td= user.games.size
