%h2#profile_title= "Profile for #{@user.full_name}" 
= image_tag @user.photo.url(:small), :class => 'user_photo'
%ol.user_profile
  %li
    %p.bold Name:
    %p= @user.full_name
  %li
    %p.bold Email:
    %p= @user.email
  %li
    %p.bold Username:
    %p= @user.username
  %li
    %p.bold Role:
    %p= user_roles
  %li= link_to "Edit", @edit_user_path, :class => "button"
  = delete(@user)
.clear