<% content_for :subtitle do %>
  ... all your "Articl" are belong to us
<% end %>
<h1>Listing authors</h1>

<table id="authors_table">
  <tr>
    <th>Name</th>
    <th colspan="3"><%= link_to image_tag('add.png') + 'New Author', new_author_path, 
                          title: 'Create new author' %></th>
  </tr>

<% @authors.each do |author| %>
  <tr class="<%= cycle('author_line_odd', 'author_line_even')%>">
    <td><%= author.name %></td>
    <td><%= link_to image_tag('magnifier.png'), author, title: 'View author' %></td>
    <td><%= link_to image_tag('page_edit.png'), edit_author_path(author), title: 'Edit author' %></td>
    <td><%= link_to image_tag('bin.png'), author, confirm: 'Are you sure?', method: :delete, title: 'Delete author' %></td>
  </tr>
<% end %>
</table>
</div>
