<!DOCTYPE html>
<html>
<head>
  <title>Articl.es -- All the World's Articles (with a name .com hipsters love)</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="masthead">
  <a href="<%= root_url%>" title="Return to home page"><h1 id="title">Articl.es</h1></a>
  <h3 id="subtitle"><%= random_message %></h3>
</div>

<div id="container">
  <%= yield %>
</div>

</body>
</html>
