<% content_for :subtitle do %>
  ... with a name .com hipsters love!
<% end %>

<p id="notice"><%= notice %></p>

<div id="articles_header">
  <h1>All the World's Articles</h1>
  <%= link_to image_tag('add.png') + 'New Article', new_article_path, :title => "Create a new article" %>
</div>

<div class="clear"></div>

<div id="article_table_header">
  <p class="title header">Title</p>
  <p class="author header">Author</p>
  <p class="body header">Body</p>
  <p class="created_at header">Creation Date</p>
  <div class="buttons">&nbsp;</div>
</div>

<div id="article_table_content">
<% @articles.each do |article| %>
  <span class="<%= cycle('article_line_odd', 'article_line_even') %>">
    <p class="title"><%= truncate(article.title, :length => 25) %></p>
    <p class="author"><%= truncate(article.author.name, :length => 20) %></p>
    <p class="body"><%= truncate(article.body, :length => 50) %></p>
    <p class="created_at"><%= l article.created_at.to_date, :format => :default %></p>
  </span>
  <div class="buttons">
    <%= link_to image_tag('magnifier.png'), article, :title => 'View article' %>
    <%= link_to image_tag('page_edit.png'), edit_article_path(article), :title => 'Edit article' %>
    <%= link_to image_tag('bin.png'), article, confirm: 'Are you sure?', method: :delete, :title => 'Delete article' %>
  </div>
<% end %>
</div>

<div id="article_table_footer">
  <p class="title footer"></p>
  <p class="author footer"></p>
  <p class="body footer"></p>
  <p class="created_at footer"></p>
  <div class="buttons"></div>
</div>

<div id="article_count">
  <%= pluralize(Article.count, 'article') %>
</div>
