= form_for(@article) do |f|
  - if @article.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  - @authors = Author.all
  .field
    = f.label :title
    = f.text_field :title
  .clear
  .field
    = f.label :author_id, "Author's name"
    = author_selection_collection(@authors)
    = create_author_link
  .clear
  .field
    = f.label :body
    = f.text_area :body, :cols => 80
  .clear
  .actions
    = f.submit
