- content_for :subtitle do
  \... with a name .com hipsters love!
%p#notice= notice
#articles_header
  %h1 All the World's articles
  = list_authors_link
  = link_to image_tag('add.png') + 'New Article', new_article_path, :title => "Create a new article"
.clear
#articles_table
  %p.title.header Title
  %p.author.header Author
  %p.body.header Body
  %p.created_at.header Creation Date
  .buttons &nbsp;
  - @articles.each do |article|
    %span{:class => cycle('article_line_odd', 'article_line_even')}
    %p.title= article_title(article)
    %p.author= author_name(article)
    %p.body= truncate(article.body, :length => 50)
    %p.created_at= l article.created_at.to_date, :format => :default
    .buttons
      = link_to image_tag('magnifier.png'), article, :title => 'View article'
      = link_to image_tag('page_edit.png'), edit_article_path(article), :title => 'Edit article'
      = link_to image_tag('bin.png'), article, confirm: 'Are you sure?', method: :delete, :title => 'Delete article'
.clear
#article_count
  = page_entries_info @articles
= will_paginate @articles, class: "articles_pagination"
