- content_for :subtitle do
  \... what's "Articl" in Spanish anyway?
%p#notice= notice
%nav#article_nav
  %ul
    %li.first= list_articles_link
    %li= edit_article_link
    %li= delete_article_link
    %li= article_mailto_link
.clear
%h2#article_title= @article.title
%p#article_byline= article_byline
#article_body= raw RedCloth.new(@article.body).to_html
